<%- include("./partials/header") %>

<%- include("./navbar/menu") %>

<div class="container mt-4">
    
    <h4>Hello <i><%= username %></i></h4>
    <hr class="my-4"> <br>    

 <!--   <div class="row">
        <div class="column">
          <div class="card">
            <h3>Sum of Words</h3>
            <p><%= words %></p>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <h3>Sum of Documents</h3>
            <p><%= counter %></p>
          </div>
        </div> -->
               
      </div>

</div>

<%- include("./partials/footer") %>